
/*Otorgo un fondo al formulario*/
.container-fluid{
  background-image: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  
}
.formulario{
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
  background-color: #f2f3f7;
  border-radius: 5%;

}
.containerLogin{
  background-image: url(../img/fondo4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}



.formularioLogin{
  width: 50%;
  margin-top: 1px;
  margin-left: 300px;
  border-radius: 5%;
  padding: 30px 0;
  background-color: #f2f3f7
}


.formularioOlvide{
  width: 50%;
  margin-top: 1px;
  margin-left: 300px;
  border-radius: 5%;
  padding: 30px 0;
  background-color: #f2f3f7
}

.containerOlvide{
  background-image: url(../img/fondo1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
}
